<nav>
    <div class="site-title">
        <a href="/"><h1>Learning Node</h1></a>
        <p>A project developed while Learning Node js</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        
        <!-- <li><a href="/login">Log in</a></li>
        <li><a href="/signup">Sign Up</a></li>
        <li>Log out</li> -->

        <% if (user) { %> 
            <li> Welcome, <%= user.firstname %>  </li>
            <li><a href="/blogs/create">New Blog</a></li>
            <li><a href="/logout">Log out</a></li>
            <% } else { %> 
            <li><a href="/login">Log in</a></li>
            <li><a href="/signup" class="btn">Sign up</a></li>
            <% } %> 

       
    </ul>
  
</nav>